<li id="comments-<%= comment._id %>" >
    <p>
        <% if (locals.user && (locals.user.id == comment.user.id || locals.user.id == post.user.id)) { %>
            <a href="/comment/delete/?cmtid=<%= comment._id %>&postid=<%= post._id %>" class="comment-delete-button">x</a>
        <% } %>
        <%=comment.content%>
    </p>
    <small><%=comment.user.name %></small>
</li>